.ant-card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 300px;
  @media (min-width: 768px) {
    width: calc((100% - 48px) / 3);
  }

  &.hover {
    transform: scale(1.05);
  }

  .ant-card-cover img {
    height: 200px;
    padding: 8px 8px 0 8px;
  }

  .ant-card-body {
    padding: 8px !important;
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .ant-card {
    margin: auto;
    width: 220px !important;
    &:hover::before {
      content: 'Đặt vé ngay';
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(229, 9, 20, 0.85);
      color: #fff;
      padding: 8px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      pointer-events: none;
    }
  }
}