.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 450px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width:700px){
      height: 50% !important;
    }
  }
}

.swiper-carousel.loading {
  width: 60%;
  height: 450px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  @media (max-width:700px){
    height: 300px !important;
    width: 100%;
  }
  @media (max-width:400px){
    height: 180px !important;
    width: 100%;
  }
}

.swiper-carousel.loading::before {
  content: '';
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    height: 9px;
    width: 9px;
  }

  .swiper-pagination-bullet-active {
    background-color: green;
  }
}