/* detail movie */

.detail-movie .detail-card {
  background-image: url(/images/logo_detail_movie_bg.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: white;
  margin-bottom: 10px;
  font-size: 500px !important;
}

.detail-movie .detail-card .btn-trailer {
  background-color: white;
  color: rgb(26, 223, 26);
  border-color: rgb(26, 223, 26);
  width: 150px;
  height: 40px;
  line-height: 30px;
  margin-right: 15px;
  margin-top: 15px;
}

.detail-movie .detail-card .btn-trailer:hover {
  background-color: rgb(26, 223, 26);
  color: white !important;
  border-color: rgb(26, 223, 26) !important;
}

.detail-movie .detail-card .btn-booking {
  background-color: var(--primary-color);
  color: white;
  width: 150px;
  height: 40px;
  margin-right: 15px;
  margin-top: 15px;
}

.detail-movie .detail-card .btn-booking:hover {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}


.detail-movie .ant-tabs-nav-wrap .ant-tabs-tab {
  width: 80px;
  font-size: 20px;
  justify-content: center;
}