.btn-filter {
    button {
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 16px 0 16px;
        background-color: #ddd;
        color: #111;
        padding: 6px;
        border-radius: 6px;
        text-align: center;
        width: 160px;
        border: 2px solid transparent;
        @media (max-width: 530px) {
            font-size: 14px;
        }
    }
}   