@font-face {
  font-family: "Circular-normal";
  src: url("../../../public/fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular-bold";
  src: url("../../../public/fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular-lighter";
  src: url("../../../public/fonts/CircularStd-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
:root {
  --fs-root: 16px;
  --w-max-root: 1536px;
  --primary-color:#ff385c;
  --secondary-color:#717171;
}

*,
*:before,
*:after {
  font-family: "Circular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html,
body {
  font-size: var(--fs-root);
  max-width: var(--w-max-root);
  scroll-behavior: smooth;
}

a,
a:hover,
li {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

h4, p {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}

h6 {
  font-size: 0.625rem;
  font-weight: 300;
  margin: 0;
}

p {
  color: #717171;
}

ol,
ul {
  padding-left: 0;
}

.hidden {
  display: none;
}

.ant-form {
  width: 60% !important;
  align-items: center;
  outline: 2px solid #ff385c;
  padding: 15px 30px !important;
  border-radius: 50px;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  z-index: 999;
}
.ant-form.form-home {
  position: fixed;
  top: 100px;
  left: 20%;
}
.ant-form .ant-form-item {
  width: 35%;
  border-right: 2px solid #717171;
  padding-right: 10px;
  margin-right: 0;
}
.ant-form .ant-form-item:nth-child(2) {
  width: 40%;
}
.ant-form .ant-form-item:nth-child(3) {
  width: 10%;
}
.ant-form .ant-form-item:nth-child(4) {
  width: 5%;
  margin: 0;
  padding: 0;
  border-right: none;
}
.ant-form .ant-form-item .ant-row {
  flex-direction: column;
}
.ant-form .ant-form-item .ant-row .ant-col label {
  margin-bottom: 0px !important;
  height: 25px;
}
.ant-form .ant-form-item .ant-row .ant-col .ant-input-number {
  width: 100%;
}
.ant-form .ant-form-item .ant-row .ant-form-item-required {
  width: 100%;
}

.ant-select-dropdown {
  inset: 180px 0px auto 300px !important;
  position: fixed !important;
}
.ant-select-dropdown.form-home {
  inset: 80px 0px auto 290px !important;
}

.ant-picker-dropdown {
  inset: 170px 0px auto 520px !important;
  position: fixed !important;
}
.ant-picker-dropdown.form-home {
  inset: 70px 0px auto 510px !important;
}

.btn-love {
  font-size: 24px;
  margin-left: 5px;
  color: black;
}
.btn-love.checked {
  color: #ff385c;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: -10;
}
.swiper .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 450px;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  .swiper .swiper-slide {
    height: 50% !important;
  }
}

.swiper-carousel.loading {
  width: 60%;
  height: 450px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
@media (max-width: 700px) {
  .swiper-carousel.loading {
    height: 300px !important;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .swiper-carousel.loading {
    height: 180px !important;
    width: 100%;
  }
}

.swiper-carousel.loading::before {
  content: "";
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.swiper-pagination .swiper-pagination-bullet {
  height: 9px;
  width: 9px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.btn-filter button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 16px 0 16px;
  background-color: #ddd;
  color: #111;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  width: 160px;
  border: 2px solid transparent;
}
@media (max-width: 530px) {
  .btn-filter button {
    font-size: 14px;
  }
}

.room-list-template .ant-list-item-meta-avatar {
  flex: none;
}
.room-list-template .ant-list-item-meta-content {
  flex-grow: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.room-list-template .ant-list-item-meta-content .ant-list-item-meta-title {
  flex: none;
}
.room-list-template .ant-list-item-meta-content .ant-list-item-meta-description {
  flex-grow: 1;
}