@font-face {
  font-family: "Circular";
  src: url("../../../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular-bold";
  src: url("../../../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular-light";
  src: url("../../../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
:root {
  --fs-root: 16px;
  --w-max-root: 1536px;
  --primary-color:#ff385c;
  --secondary-color:#717171;
}

*,
*:before,
*:after {
  font-family: "Circular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html,
body {
  font-size: var(--fs-root);
  max-width: var(--w-max-root);
  scroll-behavior: smooth;
}

a,
a:hover,
li {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  line-height: inherit !important;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  line-height: inherit !important;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  line-height: inherit !important;
}

h4, p {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  line-height: inherit !important;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  line-height: inherit !important;
}

h6 {
  font-size: 0.625rem;
  font-weight: 300;
  margin: 0;
  line-height: inherit !important;
}

p {
  color: #717171;
}

ol,
ul {
  padding-left: 0;
}

form button {
  background-color: #ff385c !important;
  color: #fff !important;
  border-radius: 10px !important;
}
form button:hover {
  background-color: #ff5a5f !important;
}
form input {
  border: 1px solid #222;
}
form input::placeholder {
  color: #717171;
}
form input:-ms-input-placeholder {
  color: #717171;
}
form input::-webkit-input-placeholder {
  color: #717171;
}
form input:focus {
  outline: 1px solid #ff385c;
  border: 1px solid transparent;
}
form .input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1.8rem;
}
form .input-wrapper .input-error-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff385c;
}
form .input-wrapper.input-invalid .input-error-icon {
  display: block;
}
form .input-wrapper.input-invalid .tooltipError .tooltipErrorText {
  margin: 4px 0;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  line-height: 1;
  top: 100%;
  font-family: "tahoma";
  font-size: 11px;
  color: #ff385c;
  font-weight: 500;
}

.search-form {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px 15px;
  border-radius: 50px;
  align-items: center;
  border: 1px solid black;
}
.search-form.header-fixed {
  position: fixed;
  width: 80%;
  top: 110px;
  left: 150px;
  z-index: 999;
}
.search-form .search-input {
  width: 25%;
  border-right: 2px solid #C5C5C5;
  margin-left: 15px;
  padding: 0 5px;
}
.search-form .search-input input {
  display: inline-block;
  width: 100%;
}
.search-form .search-input input:focus {
  outline: none;
}
.search-form .search-input:nth-child(4) {
  border-right: none !important;
  margin-right: 0;
}
.search-form .search-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  font-size: 25px;
  text-align: center;
}
.search-form .search-icon svg {
  width: 100%;
}

.ant-select-dropdown {
  position: fixed !important;
  inset: 190px 0px auto 185px !important;
}

.btn-filter button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 16px 0 16px;
  background-color: #ddd;
  color: #111;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  width: 160px;
  border: 2px solid transparent;
}
@media (max-width: 530px) {
  .btn-filter button {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */